* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
}
form {
	align-items: center;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #333;
	color: white;
}

.brand-title {
	font-size: 1.5rem;
	margin: .5rem;
}

.navbar-links ul {
	margin: 0;
	padding: 0;
	display: flex;
}

.navbar-links li {
	list-style: none;
}

.navbar-links li a {
	text-decoration: none;
	color: white;
	padding: 1rem;
	display: block;
}

.navbar-links li:hover {
	background-color: #444;
}

.toggle-button {
	position: absolute;
	top: .75rem;
	right: 1rem;
	display: none;
	flex-direction: column;
	justify-content: space-between;
	width: 30px;
	height: 21px;
}

.toggle-button .bar {
	height: 3px;
	width: 100%;
	background-color: white;
	border-radius: 10px;
}

@media (max-width: 700px) {
	.toggle-button {
		display: flex;
	}

	.navbar-links {
		display: none;
		width: 100%;
	}

	.navbar {
		flex-direction: column;
		align-items: flex-start;
	}
	.navbar-links ul {
		width: 100%;
		flex-direction: column;
	}

	.navbar-links li {
		text-align: center;
	}

	.navbar-links li a {
		padding: .5rem 1rem;
	}

	.navbar-links.active {
		display: flex;
	}
}

/* Search */

.search-box {
	padding-right: 10px;
	align-items: center;
}

.search-form {
	line-height: 50px;
	vertical-align: middle;
}

.search-txt{
	background: #444;
	border-radius: 4px;
	border-style: none;
}

input::placeholder{
  color: #777;
}

input:focus{
  color: white;
}

.search-btn {
	background: none;
	color: white;
	border: 1px solid white;
	border-radius: 4px;
}

.search-btn:hover {
	color: #333;
	background: white;
}

.no-hover:hover {
	background: #333 !important;
}


/* Footer */

footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background: #333;
	height: auto;
	width: 100%;
	padding-top: 20px;
	color: white;
}

.footer-content {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.footer-content h3 {
	font-size: 1.8rem;
	font-weight: 400;
	text-transform: capitalize;
	line-height: .5rem;
}



.footer-links {
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 1rem 0 3 rem 0;
}

.footer-links li {
	margin: 0 10px;
}

.footer-links a {
	text-decoration: none;
	color: white;
}

.footer-links a:hover {
	color: #ffaf00;
}

.footer-bottom {
	background: #111;
	width: 100%;
	padding: 10px 0;
	text-align: center;
}

.footer-bottom p {
	font-size: 14px;
	word-spacing: 2px;
	text-transform: capitalize;
}

.footer-bottom span {
	text-transform: uppercase;
	opacity: .4;
	font-weight: 200;
}