<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Account Settings</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
	<h1>My Account Settings:</h1>
	<form th:action="@{/account}" th:object="${userForm}" th:method="PUT">
		Username: <input type="text" th:field="*{username}" />
		<br/>
		Passwort: <input type="text" th:field="*{password}" />
		<br/>
		First Name: <input type="text" th:field="*{firstName}" />
		<br/>
		Last Name: <input type="text" th:field="*{lastName}" />
		<br/>
		Email: <input type="text" th:field="*{email}" />
		<br/>
		<input type="submit" value="Alter" />
	</form>
	<br />
	<!-- Check if errorMessage is not null and not empty -->
	<div th:if="${errorMessage}" th:utext="${errorMessage}" style="color: red; font-style: italic;">...</div>
	<!-- Tell user that he successfully altered the account settings -->
	<div th:if="${successMessage}" th:utext="${successMessage}" style="color: green; font-style: italic;">...</div>
</body>
</html>