<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<title>List of Books</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
<header th:insert="fragments/header.html :: header"> </header>
	<h2>Tabelle of Books</h2>
	<div>
		<table border="1">
			<tr>
				<th>Title</th>
				<th>authors</th>
				<th>Publisher</th>
				<th>Publication Date</th>
				<th>ISBN 13</th>
				<th>Lent</th>
			</tr>
			<tr th:each="book : ${books}">
				<td th:utext="${book.bookData?.title}">...</td>
				<td th:utext="${book.bookData?.authors}">...</td>
				<td th:utext="${book.bookData?.publisher}">...</td>
				<td th:utext="${book.bookData?.publicationDate}">...</td>
				<td th:utext="${book.bookData?.isbn13}">...</td>
				<td th:switch="${book.lent}"> 
					<span th:case=${true}>Yes</span>
					<span th:case=${false}>No</span>
				</td>
			</tr>
		</table>
	</div>
	<footer th:insert="fragments/footer.html :: footer"> </footer>
</body>
</html>