<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<title>Home</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
	<header th:insert="fragments/header.html :: header"> </header>
	<div class="main-content">
	<div sec:authorize="isAuthenticated()">
		<h2>Welcome <span sec:authentication="name">Username</span></h2>
	</div>
	<h2>Welcome to Library Software</h2>
	<div th:replace="fragments/fragments.html :: errormessage">...</div>
	<div th:replace="fragments/fragments.html :: successmessage">...</div>
	</div>
	
	<footer th:replace="fragments/footer.html :: footer"> </footer>
</body>
</html>