<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<title>Home</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
	<header th:insert="fragments/header.html :: header"> </header>
	<div class="main-content">
	<h2>Welcome to Library Software</h2>
	</div>
	
	<footer th:insert="fragments/footer.html :: footer"> </footer>
</body>
</html>