<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<title>My books</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
	<header th:insert="fragments/header.html :: header"> </header>
	<h2>My Books</h2>
	<div class="main-content">
		<table class="table">
			<thead>
			<tr>
				<th>Title</th>
				<th>Authors</th>
				<th>Publisher</th>
				<th>Publication Date</th>
				<th>ISBN 13</th>
				<th>Lending Date</th>
				</tr>
			</thead>
			<tbody>
			<tr th:each="book : ${books}">
				<td data-label="Title" th:utext="${book.bookData?.title}">...</td>
				<td data-label="Authors" th:utext="${book.bookData?.authors}">...</td>
				<td data-label="Publisher" th:utext="${book.bookData?.publisher}">...</td>
				<td data-label="Publication Date" th:utext="${book.bookData?.publicationDate}">...</td>
				<td data-label="ISBN 13" th:utext="${book.bookData?.isbn13}">...</td>
				<td data-label="Lending Date" th:utext="${book.lendingDate}"></td>
			</tr>
			</tbody>
		</table>
	</div>
	<footer th:insert="fragments/footer.html :: footer"> </footer>
</body>
</html>