<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<title>Registration</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
<header th:insert="fragments/header.html :: header"> </header>
<div class="main-content">
<div class="form">
	<h2>Register Account:</h2>
	<form class="input-fields" th:action="@{/register}" th:object="${userForm}" method="POST">
		
		<input class="input" type="text" th:field="*{username}" placeholder="Enter Username" />
		<input class="input" type="text" th:field="*{password}" placeholder="Enter Password" />
		<input class="input" type="text" th:field="*{firstName}" placeholder="Enter First Name" />
		<input class="input" type="text" th:field="*{lastName}" placeholder="Enter Last Name" />
		<input class="input" type="text" th:field="*{email}" placeholder="Enter Email" />
		<button class="form-btn" type="submit" value="Register">Register</button>
	</form>
	<br />
	<!-- Check if errorMessage is not null and not empty -->
	<div th:if="${errorMessage}" th:utext="${errorMessage}" style="color: red; font-style: italic; text-align: center">...</div>
	<!-- Tell user that he is registered now -->
	<div th:if="${successMessage}" th:utext="${successMessage}" style="color: green; font-style: italic; text-align: center">...</div>
	</div>
	</div>
	<footer th:insert="fragments/footer.html :: footer"> </footer>
</body>
</html>