<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<script type="text/javascript" src="../../js/general.js"></script>
	<title>Registration</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
	<header th:insert="fragments/header.html :: header"> </header>
	<div class="main-content">
		<div class="form">
			<h2>Register Account:</h2>
			<form class="input-fields" th:action="@{/register}" th:object="${userForm}" method="POST" id="registerUser">
				<input class="input" type="text" th:field="*{username}" placeholder="Enter Username" required/>
				<input class="input" type="password" th:field="*{password}" placeholder="Enter Password" required/>
				<input class="input" type="text" th:field="*{firstName}" placeholder="Enter First Name" required/>
				<input class="input" type="text" th:field="*{lastName}" placeholder="Enter Last Name" required/>
				<input class="input" type="text" th:field="*{email}" placeholder="Enter Email" required id="email"/>
				<button class="form-btn" type="submit" value="Register" onclick="return validateEmail();">Register</button>
			</form>
			<br />
			<div th:replace="fragments/fragments.html :: errormessage">...</div>
			<div th:replace="fragments/fragments.html :: successmessage">...</div>
		</div>
	</div>
	<footer th:replace="fragments/footer.html :: footer"> </footer>
</body>
</html>