<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>[[${pageTitle}]]</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
	<h1>Search Result for '[[${keyword}]]'</h1>
	<div>
		<table border="1">
			<tr>
				<th>Title</th>
				<th>authors</th>
				<th>Publisher</th>
				<th>Publication Date</th>
				<th>ISBN 13</th>
				<th>Lent</th>
				<th>Action</th>
				<th>Admin</th>
			</tr>
			<tr th:each="book : ${searchResult}">
				<td th:utext="${book.bookData?.title}">...</td>
				<td th:utext="${book.bookData?.authors}">...</td>
				<td th:utext="${book.bookData?.publisher}">...</td>
				<td th:utext="${book.bookData?.publicationDate}">...</td>
				<td th:utext="${book.bookData?.isbn13}">...</td>
				<td th:switch="${book.lent}">
					<span th:case=${true}>Yes</span>
					<span th:case=${false}>No</span>
				</td>
				<td th:switch="${book.lent}">
					<form th:case=${false} th:method="PATCH">
						<input type="hidden" name="isbn13" th:value="${book.bookData?.isbn13}">
						<input type="submit" value="lend">
					</form>
				</td>
				<td>
					<form th:method="DELETE">
						<input type="hidden" name="isbn13" th:value="${book.bookData?.isbn13}">
						<input type="submit" value="delete">
					</form>
				</td>

			</tr>
		</table>
	</div>
</body>
</html>