<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<title>List of Users</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
<header th:insert="fragments/header.html :: header"> </header>
	<h2>List of all users</h2>
	<div>
		<table border="1">
			<tr>
				<th>Username</th>
				<th>Email</th>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Role</th>
				<th>Action</th>
			</tr>
			<tr th:each="user : ${users}">
				<td th:utext="${user.username}">...</td>
				<td th:utext="${user.email}">...</td>
				<td th:utext="${user.firstName}">...</td>
				<td th:utext="${user.lastName}">...</td>
				<td th:utext="${user.role?.name}">...</td>
				<td>
					<form th:method="DELETE">
						<input type="hidden" name ="username" th:value="${user.username}">
						<input type="submit" value="delete">
					</form>
				</td>
			</tr>
		</table>
		<!-- Check if errorMessage is not null and not empty -->
		<div th:if="${errorMessage}" th:utext="${errorMessage}" style="color: red; font-style: italic;">...</div>
		<!-- Tell user that he successfully altered the account settings -->
		<div th:if="${successMessage}" th:utext="${successMessage}" style="color: green; font-style: italic;">...</div>
	</div>
	<footer th:insert="fragments/footer.html :: footer"> </footer>
</body>
</html>