<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="..\..\static\css\style.css" />
	<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
</head>
<body>
	<footer th:fragment="footer">
		<div class="footer-content">
			<h3>Library Software</h3>
			<ul class="footer-links">
				<li sec:authorize="hasAuthority('admin')" ><a href="/addBook">Add Book</a></li>
				<li sec:authorize="hasAuthority('admin')" ><a href="/users">Users</a></li>
				<li th:if="!${#request.userPrincipal}" ><a href="/login">Login</a></li>
				<li th:if="!${#request.userPrincipal}" ><a href="/register">Register</a></li>
				<li sec:authorize="isAuthenticated()" ><a href="/myBooks">My Books</a></li>
				<li sec:authorize="isAuthenticated()" ><a href="/account">My Account</a></li>
				<li sec:authorize="isAuthenticated()" ><a href="/logout">Logout</a></li>
			</ul>
		</div>
		<div class="footer-bottom">
			<p>copyright ©2020 Library Software. designed by <span>Leonard Hußke</span></p>
		</div>
	</footer>
</body>
</html>